# Core ML & Transformers
torch>=2.0.0
torchvision
transformers>=4.30
datasets
scipy

# NLP
spacy>=3.0.0
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz

# Web & API
flask

# Data & Utility
pandas
numpy
matplotlib
pillow
uuid

# Frontend PDF
jspdf

# Optional (only if you plan to use Jupyter)
jupyter
ipykernel
